

		   				<audio autoplay id="AudioPreroll" >
					        <source src="http://ads.crp.com.pe.s3.amazonaws.com/prerolls/5a9f8-tuentirecargaoriginalfinal-may17-.mp3.mp3" type="audio/mp3">
					        Tu Browser no soporta Html5 Video. <a href="" onclick=" VideoEnd();"> Continuar</a>
					    </audio>

					    <script>
					    	console.log("ARO"+5);
					        pre_roll=1;			       
					        var AudioPreroll = document.getElementById("AudioPreroll");
							
							 AudioPreroll.addEventListener("play", function () { ga('send', 'event', ' tracking Streaming','Play Preroll');
							 });

					        AudioPreroll.addEventListener("ended", function () { ga('send', 'event', ' tracking Streaming','End Preroll');
					        			   console.log('Evento Analitycs Ok');
								    	ReadyStreaming();
								    	ShowBtnPause();			          
									    $( "#pauseButton" ).attr( "onclick", "  ShowBtnPlay(); pauseStream();");
				      				   	$( "#playButton" ).attr( "onclick", "ShowBtnPause(); playStream();" );
					        		lag_escucho=true;
					        		console.log("Se escuchó por primera vez: var flag_escucho ="+ flag_escucho);
					        });

					            AudioPreroll.addEventListener("error", function () {				            
						            ended = 1; //variable indica video acabó
						            ReadyStreaming();  //iniciar el Streaming con Segid

					        	});</script>