

		   				<audio autoplay id="AudioPreroll" >
					        <source src="http://ads.crp.com.pe.s3.amazonaws.com/prerolls/895ea-c1f74-entel_vers_30.mp3.mp3" type="audio/mp3">
					        Tu Browser no soporta Html5 Video. <a href="" onclick=" VideoEnd();"> Continuar</a>
					    </audio>

					    <script>
					    	console.log("ARO"+6);
					    	console.log("mobile"+1);
					        pre_roll=1;			       
					        var AudioPreroll = document.getElementById("AudioPreroll");
							
							 AudioPreroll.addEventListener("play", function () { ga('send', 'event', ' tracking Streaming','Play Preroll');
							 });

					        AudioPreroll.addEventListener("ended", function () { ga('send', 'event', ' tracking Streaming','End Preroll');
					        			   console.log('Evento Analitycs Ok');
							           	$( "#pauseButton" ).attr( "onclick", "ShowBtnPlayMobile(); pauseStream();");           
							            $( "#playMobile" ).attr( "onclick", "ShowBtnPauseMobile(); playStream();" ); 
					        		lag_escucho=true;
					        		console.log("Se escuchó por primera vez: var flag_escucho ="+ flag_escucho);
					       		 });

					            AudioPreroll.addEventListener("error", function () {				            
						            ended = 1; //variable indica video acabó
						            ReadyStreaming();  //iniciar el Streaming con Segid

					        	});
									ShowBtnPlayMobile();
									$("#modalAro").modal("show");	
									$("#playMobile").attr( "onclick", "AudioPreroll.play();" );</script>